.main-title {
  height: 720px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.main-title-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #0e0f0f 85%); }
  .main-title-container > h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fefefe; }
  .main-title-container .inline {
    display: flex;
    justify-content: center; }
    .main-title-container .inline > .main-title-info {
      margin-left: 20px; }
  .main-title-container img {
    width: 185px;
    border-radius: 5px; }
  .main-title-container h2 {
    font-size: 2.7rem;
    font-weight: 700;
    color: #fefefe;
    margin: 0; }

.backdrop-card-list {
  display: flex;
  justify-content: space-between;
  width: 1000px; }
  .backdrop-card-list > li {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fefefe; }
    .backdrop-card-list > li > div {
      background: rgba(14, 15, 15, 0.8);
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }

.list-container {
  width: 1000px;
  margin: 0 auto; }
  .list-container > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .list-container > ul li {
      width: 185px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease-out; }
      .list-container > ul li div {
        padding: 5px;
        display: flex;
        justify-content: space-between; }
      .list-container > ul li img {
        border-radius: 5px;
        width: 185px;
        height: 278px; }
    .list-container > ul li:hover {
      transform: scale(1.1); }

.modal {
  background: radial-gradient(ellipse at center, rgba(35, 36, 41, 0.85) 0%, rgba(35, 36, 41, 0.95) 100%);
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 30px; }
  .modal > div {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .modal > button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #F4F4F4; }

.movie-main {
  width: 1000px;
  margin: 0 auto; }

.factbox {
  background: #fefefe;
  color: #091C24;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  justify-content: space-between; }

.factbox-heading {
  color: #ff6347;
  font-weight: 700;
  font-size: 1.1rem; }

.factbox-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.column {
  flex-direction: column; }
  .column > li > div {
    display: flex;
    align-items: center;
    margin: 5px 0; }
    .column > li > div > p {
      color: #F4F4F4; }
    .column > li > div > h3 {
      font-weight: 700; }
    .column > li > div > * {
      margin-right: 5px; }

.credits-card {
  width: 175px;
  background: #fefefe;
  color: #091C24;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px; }
  .credits-card > div > img {
    border-radius: 5px 5px 0 0; }

.credit-picture {
  width: 175px; }

.ShowCast {
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: transparent;
  color: #fefefe;
  cursor: pointer; }

.similar-thumbnail {
  border-radius: 5px;
  transition: all 0.2s ease-out; }

.similar-thumbnail:hover {
  transform: scale(1.1); }
