#navbar-container {
  height: 50px;
  background: #0E0F0F;
  color: #fefefe; }

#navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative; }
  #navbar-list > li {
    flex: 1; }
  #navbar-list #brand {
    flex: 5;
    font-weight: 700;
    letter-spacing: 4px; }

#brand-logo {
  border: 1px solid #fefefe;
  border-radius: 50%;
  padding: 2px;
  font-size: 2.1rem; }
