#searchbar {
  height: 30px;
  width: 175px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #F4F4F4; }

.suggestions-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #F4F4F4;
  color: #0E0F0F; }
  .suggestions-list li {
    background: #F4F4F4;
    z-index: 50;
    padding: 0px;
    line-height: 1;
    height: 100%; }
    .suggestions-list li > a {
      padding: 0px; }
