@import './variables.scss';
@import './components/navbar.scss';
@import './components/header.scss';
@import './components/jumbotron.scss';
@import './components/main.scss';
@import './components/card.scss';
@import './components/editors-card.scss';
@import './components/movie.scss';
@import './components/people.scss';
@import './components/suggestions.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// COLORS
$white: #fefefe;
$black: #091C24;
$ltgrey: #F4F4F4;
$grey: #CFCFCF;
$dark-purple: #17141f;
$twitch-purple: #6441a4;
$primary-color: #ff6347;
$secondary-color: #BDDE5C;
$darkgrey: #0E0F0F;

// Fonts
$bodyfont-size: 16px;
$bodyfont-weight: normal;
$bodycolor: $black;
// Breakpoints
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 767px;
$small-mobile-breakpoint: 450px;
// Shadow
$card-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
// Spacing
$marginY: 5vh;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: $darkgrey;
  color: $ltgrey;
  line-height: 1.5;
  box-sizing: border-box;
}

#root {
  width: 1280px;
  margin: 0 auto;
}

svg:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

h2 {
  font-weight: 400;
  margin-bottom: 3vh;
}

h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $ltgrey;
  transition: all 0.2s ease-in;
}

.container {
  margin-bottom: $marginY;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  background-color: $primary-color;
  padding: 3px 10px;
}

.trigger-enter {
  opacity: 1;
}

.divider {
  width: 100%;
  color: $ltgrey;
  border-bottom: 1px solid rgba($ltgrey, 0.1);
  margin: $marginY auto;
}

.gray { //span för release-år (stor)
  color: $ltgrey;
  font-weight: 300;
  font-size: 1.5rem;
}
.small { // SPAN för release-år
  font-size: 1rem;
}

.primary-link {
  color: $black;
}
.primary-link:hover {
  color: $ltgrey;
}
.primary-link:visited {
  color: $black;
}
.primary-link:visited:hover {
  color: $black;
}

.secondary-link {
  color: $darkgrey;
  transition: all 0.2s ease-out;
  display: inline;
}
.secondary-link:hover {
  color: $primary-color;
}

.inline-list { 
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}