// COLORS
$white: #fefefe;
$black: #091C24;
$ltgrey: #F4F4F4;
$grey: #CFCFCF;
$dark-purple: #17141f;
$twitch-purple: #6441a4;
$primary-color: #ff6347;
$secondary-color: #BDDE5C;
$darkgrey: #0E0F0F;

// Fonts
$bodyfont-size: 16px;
$bodyfont-weight: normal;
$bodycolor: $black;
// Breakpoints
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 767px;
$small-mobile-breakpoint: 450px;
// Shadow
$card-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
// Spacing
$marginY: 5vh;